:root{
    --rosa: #f48fb1;
    --lila: #d291ff;
    --morado: #a56de2;
    --rosa-claro: #fdf7fb;
    --blanco: #ffffff;
    --gris: #444444;
    --fondo: #faf6f8;
}
body{
     display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--fondo);
    color: var(--gris);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


header{
     background: linear-gradient(
        135deg,
        var(--rosa) 0%,
        var(--lila) 50%,
        var(--morado) 100%
    );

    color: white;
    text-align: center;
    padding: 50px 20px;

    box-shadow: 0 8px 20px rgba(165, 109, 226, 0.25);

    animation: slideDown 1.2s ease-out;
}

.saludo{
    font-size: 18px;
    margin-bottom: 5px;
}

header h1{
    margin: 0;
    font-size: 30px;
}

header h3{
    margin-top: 10px;
    font-weight: normal;
}

.descripcion-principal{
    max-width: 700px;
    margin: 20px auto;
    font-size: 18px;
}



header img{
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid white;
    display: block;
    margin: 25px auto;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    
     transition: all 0.4s ease;
}

header img:hover{
    
    transform: scale(1.08);
    box-shadow:
        0 0 15px rgba(240, 98, 146, 0.4),
        0 0 30px rgba(149, 117, 205, 0.3);
}




nav{
    margin-top:25px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:600;
    margin:0 8px;
    padding:10px 18px;
    border-radius:25px;

    transition:0.3s;
}

nav a:hover{
    background:rgba(255,255,255,0.25);
    transform:translateY(-2px);
}




section{
    background: #ffffff;
    border-radius: 20px;
    padding: 30px;
    margin: 30px auto;
    width: 85%;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

section:hover{
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.12);
}

h2{
    color: #c27ba0;
    font-size: 28px;
    margin-bottom: 20px;
}



.destacado{
    background-color: #f3e8ff;
    border-left: 5px solid #b38cd9;
    padding: 15px;
    border-radius: 8px;
    font-weight: 500;
}



.tabla-bonita{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.tabla-bonita th{
    background: linear-gradient(135deg, #d8a7c5, #cdb4db);
    color: white;
    padding: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.tabla-bonita td{
    padding: 14px;
    text-align: center;
    border-bottom: 1px solid #f0e4ec;
}

.tabla-bonita tr:nth-child(even){
    background-color: #fdf7fb;
}

.tabla-bonita tr:nth-child(odd){
    background-color: #ffffff;
}

.tabla-bonita tr:hover{
    background-color: #f8ebf3;
    transition: 0.3s ease;
}



ul li,
ol li{
    margin-bottom: 10px;
}


#redes a{
    display: inline-block;
    background-color: #8c5fa8;
    color: white;
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 20px;
    margin-top: 10px;
    transition: 0.3s;
}

#redes a:hover{
    background-color: #6f4689;
}



footer{
    background-color: #7ca7e8;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 40px;
}



@media(max-width:768px){

    header h1{
        font-size: 30px;
    }

    header img{
        width: 180px;
        height: 180px;
    }

    section{
        width: 92%;
        padding: 20px;
    }
}
@keyframes aparecer{
    from{
        opacity:0;
        transform: scale(0.8);
    }

    to{
        opacity:1;
        transform: scale(1);
    }
}
@keyframes fotoEntrada{
    from{
        opacity: 0;
        transform: scale(0.8);
    }

    to{
        opacity: 1;
        transform: scale(1);
    }
}
